<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chicken Gang Restaurants</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fantastic Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/Content/css/More.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/fonts/fontawesome-free-6.0.0/css/all.min.css">

    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,hebrew,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <!-- //online-fonts -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
</head>
<body>



    <!-- header -->
    <div class="header">
        <div class="agile-top-header">
            <div class="logo">
                <h1><a href="~/Home/Index"><span>Chicken</span><span>Gang</span> </a></h1>
            </div>
            <!-- navigation -->
            @Html.Partial("~/Views/Layout/HeaderHome.cshtml");
        </div>
        <div class="slider">
            <ul class="rslides" id="slider">
                <li>
                    <img src="~/Content/images/bg1.jpg" alt="">
                    <div class="slider-info">
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/bg2.jpg" alt="">
                    <div class="slider-info">

                    </div>
                </li>
                <li>
                    <img src="~/Content/images/bg3.jpg" alt="">
                    <div class="slider-info">
                    </div>
                </li>
            </ul>

            <!-- Slideshow 3 -->
            <!-- Slideshow 3 Pager -->
            <ul id="slider3-pager">
                <li><a href="#"><img src="~/Content/images/bgs-11.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/Content/images/bgs-22.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/Content/images/bgs-33.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>

    <div class="welcome agileits" id="services">
        <div class="container">
            <div class="welcome-main">
                <div class="welcome-top">
                    <h2>Dịch vụ hàng đầu</h2>
                    <p>Vui lòng khách đến vừa lòng khách đi.</p>
                </div>
                <div class="welcome-bottom">
                    <div class="col-md-4 welcome-grid">
                        <img src="~/Content/images/g1.png" alt="" class="img-responsive">
                        <h4>Sản phẩm mới lạ</h4>
                        <p>luôn cập nhật những sản phẩm đọc đáo, mới lạ trên thị trường.</p>
                    </div>
                    <div class="col-md-4 welcome-grid">
                        <img src="~/Content/images/g2.png" alt="" class="img-responsive">
                        <h4>Đảm bảo chất lượng</h4>
                        <p>Chất lượng luôn được đảm bảo chuẩn năm sao với đầu bếp hàng đầu.</p>
                    </div>
                    <div class="col-md-4 welcome-grid">
                        <img src="~/Content/images/g4.png" alt="" class="img-responsive" width="64px;" height="64px;">
                        <h4>Giao hàng tận nơi</h4>
                        <p>Giao hàng nhanh chống tận tình hoàn toàn miễn phí.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <!-- Gallery -->

    <div id="gallery" class="portfolio">
        <div class="container">
            <div class="agileits-title">
                <h3>Sản phầm của chúng tôi</h3>
                <p>Hãy đến ngay với chúng tôi khi bé bụng đang kêu.</p>
            </div>
            <div class="sap_tabs">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item"><span>All</span></li>
                        <li class="resp-tab-item"><span>Combo 1 Người</span></li>
                        <li class="resp-tab-item"><span>Combo Nhóm</span></li>
                        <li class="resp-tab-item"><span>Món lẻ</span></li>
                        @using (@Html.BeginForm("KQTimKiem", "Search"))
                        {
                            <div class="form-group">
                                <div class="input-group" style="display: block">
                                    <input style="font-size:16px; padding:20px;" type="search" class="form-control" placeholder="Nhập từ khóa tìm kiếm" name="sKey" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit" id="button-addonTags" style="padding:8px;font-size:16px;">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                    <div class="clearfix"> </div>
                    @RenderBody()
                    <div class="center-block">
                        <a href="~/SanPham/D_SanPham" class="btn btn-outline-success btn-hover" style="padding: 12px; border-radius: 4px; background-color: white; color: black;border: solid 1px black;">Xem Thêm</a>
                        <style>
                            .btn-hover:hover {
                                background-color: #e25111 !important;
                                color: white !important;
                            }
                        </style>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- //Gallery -->
    <!-- HOT PICK -->

    @{Html.RenderAction("HotPick", "SanPham");}

    <!-- //HotPick -->
    <!-- Contact -->
    <!-- Contact-form -->
    <div class="contact-form" id="contact">
        <div class="container">
            <h3>Thông tin liên hệ</h3>
            <p>Liên hệ với chúng tôi ngay.</p>

        </div>
    </div>
    <!-- //Contact-form -->
    <div class="agile-contact">
        <div class="col-md-6 contact-map-right">
            <div id="map"></div>
        </div>
        <div class="col-md-6 left-contact">
            <div class="cont-top">
                <h5><i class="fa fa-envelope" aria-hidden="true"></i>Email</h5>
                <a href="mailto:chickengang651@gmail.com">chickengang651@gmail.com</a>
            </div>
            <div class="con-bot">
                <div class="left-bw3">
                    <h5><i class="fa fa-map-marker" aria-hidden="true"></i>Address</h5>
                    <p>Thành phố Thủ Đức</p>
                    <p>Việt Nam</p>
                </div>
                <div class="right-bw3">
                    <h5><i class="fa fa-phone" aria-hidden="true"></i>Phone</h5>
                    <p>+2158 85467</p>
                    <p>+2158 85467</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--//Contact-->

    <div class="footer">
        <div class="">
            <div class="row">


                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style=" display:flex;justify-content:center">
                    <a href=""><img src="~/Content/images/logoSaleNoti.png" alt="" style="width: 350px;"></a>
                </div>
                <!-- Dowload App -->
                <!-- Logo Footer -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h3>CÔNG TY TNHH TRANH CÔNG CHỐI TỘI</h3>
                    <p>VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh</p>
                    <p>Điện thoại: <a href="tel:+00000">(028) 38489828</a></p>
                    <p>Email: <a href="mailto:chickengang651@gmail.com">chickengang651@gmail.com</a></p>
                    <p>Mã số thuế: 0100773885</p>
                    <p>Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hồ Chí Minh</p>

                </div>

                <!-- Useful link -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h3><a href="">SẢN PHẨM</a></h3>
                    <h3><a href="">MÓN MỚI</a> </h3>
                    <h3><a href="">FEEDBACK</a></h3>
                    <h3><a href="">LIÊN HỆ</a></h3>

                </div>

                <!-- Follow US -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h3><a href="https://www.facebook.com/nvsi01/"><i class="fa-brands fa-facebook-f"></i>Facebook</a></h3>
                    <h3><a href=""><i class="fa-brands fa-twitter"></i>Twitter</a></h3>
                    <h3><a href=""><i class="fa-brands fa-instagram"></i>Instagram</a></h3>
                    <h3><a href=""><i class="fa-brands fa-youtube"></i>Youtube</a></h3>
                </div>
            </div>

        </div>
    </div>
    <!--//footer-->
    <!-- js files -->
    <!-- For-Banner -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
    // Ensure jQuery is loaded
    if (typeof jQuery !== 'undefined') {
        $(function () {
            // Check if the map element exists
            var mapElement = document.getElementById('map');
            if (mapElement) {
                $("#slider").responsiveSlides({
                    auto: true,
                    manualControls: '#slider3-pager',
                });
            }
        });
    } else {
        console.error('jQuery is not loaded');
    }
    </script>
    <!-- //For-Banner -->
    <!-- For-Gallery-js -->
    <!-- script for portfolio -->
    <script type='text/javascript' src='~/Content/js/jquery.easy-gallery.js'></script>
    <script type='text/javascript'>
    //init Gallery
    $('.portfolio').easyGallery();
    </script>
    <script src="~/Content/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
    </script>
    <!-- //script for portfolio -->
    <!-- //For-Gallery-js -->
    <!-- js for Counter -->
    <script type="text/javascript" src="~/Content/js/numscroller-1.0.js"></script>
    <!-- /js for Counter -->
    <!-- for-Clients -->
    <script src="~/Content/js/owl.carousel.js"></script>
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <!-- requried-jsfiles-for owl -->
    <script>
    $(document).ready(function () {
        $("#owl-demo2").owlCarousel({
            items: 1,
            lazyLoad: false,
            autoPlay: true,
            navigation: false,
            navigationText: false,
            pagination: true,
        });
    });
    </script>
    <!-- //requried-jsfiles-for owl -->
    <!-- //for-Clients -->
    <!-- Map-JavaScript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', init);
    function init() {
        var mapElement = document.getElementById('map');
        if (mapElement) {
            var mapOptions = {
                zoom: 11,
                center: new google.maps.LatLng(40.6700, -73.9400),
                styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
            };
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
            });
        }
    }
    </script>
    <!-- //Map-JavaScript -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- for-bottom-to-top smooth scrolling -->
    <script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //for-bottom-to-top smooth scrolling -->
    <!-- //js files -->
    @* Scroll Nav *@
    <script>
    const nav = document.querySelector('.top-left');

    window.addEventListener('scroll', function () {
        const offset = window.pageYOffset;

        if (offset > 75)
            nav.classList.add('scroll')
        else
            nav.classList.remove('scroll')
    });
    </script>

    <script>
    // Get the modal
    var modal1 = document.getElementById('id01');
    var modal2 = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal1 || event.target == modal2) {
            modal1.style.display = "none";
            modal2.style.display = "none";
        }
    }
    </script>

</body>
</html>