
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Layout/DetailLayout.cshtml";
}

<section class="team text-center py-5" style="margin-top:200px;">
    <div class="container">
        <div class="header my-5">
            <h1>TRANH CÔNG CHỐI TỘI </h1>
            <h5 class="text-muted">Luôn luôn lắng nghe lâu lâu mới hiểu</h5>
        </div>
        <div class="row" style="margin-top:40px">
            <div class="col-md-6 col-lg-3">
                <div class="img-block mb-5">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-circle" " alt="image1" width="100%">
                    <div class="content mt-2">
                        <h3>Nguyễn Văn Sĩ</h3>
                        <h4 class="text-muted">Leader - Fullstack</h4>
                        <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                    </div>
                </div>
                <ul class="social mb-0 list-inline mt-3" style="margin-top:12px;">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="img-block mb-5">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-circle" " alt="image1" width="100%">
                    <div class="content mt-2">
                        <h3>Nguyễn Kim Phước</h3>
                        <h4 class="text-muted">Member - Frontend</h4>
                        <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                    </div>
                </div>
                <ul class="social mb-0 list-inline mt-3" style="margin-top:12px;">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="img-block mb-5">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-circle" " alt="image1" width="100%">
                    <div class="content mt-2">
                        <h3>Trần Văn Thắng</h3>
                        <h4 class="text-muted">Member - Backend</h4>
                        <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                    </div>
                </div>
                <ul class="social mb-0 list-inline mt-3" style="margin-top:12px;">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="img-block mb-5">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-circle" " alt="image1" width="100%">
                    <div class="content mt-2">
                        <h3>Bùi Quang Trung</h3>
                        <h4 class="text-muted">Member - Database</h4>
                        <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                    </div>
                    <ul class="social mb-0 list-inline mt-3" style="margin-top:12px;">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team text-center py-5" style="margin-top:50px;">
    <div class="container">
        <div class="header my-5">
            <h1>SẢN PHẨM CỦA CHÚNG TÔI </h1>
            <h5 class="text-muted">Chúng tôi luôn hướng đến mục tiêu chung</h5>
        </div>
        <div class="row" style="margin-top:40px">
            <div class="col-md-6">
                <img src="~/Content/images/KFC/project2.png" width="100%;" height="300px;" />
            </div>

            <div class="col-md-6">
                <h2 class="text-muted">
                    XÂY DỰNG PHẦN MỀM QUẢN LÝ QUÁN GÀ RÁN CHICKEN - GANG
                </h2>
                <div class="mt-4 about"><span style="font-size:15px;">Phần mềm hỗ trợ trong việc quản lý các nghiệp vụ như tính tiền, thống kê, quản lý nhân viên… v.v. Phần mềm quản lý bán hàng quán gà rán giúp cho người sử dụng tiết kiệm được thời gian, nhanh chống, thao tác đơn giản dễ dàng sử dụng và quản lý.</span></div>
                <div class="mt-4 about"><span style="font-size:15px;">Xây dựng một hệ thống mới phù hợp, dễ hiểu, dễ sử dụng cho người dùng phần mềm. Hiểu được hệ thống quản lý bán hàng, cần quản lý những mảng nào để xây dựng ứng dụng cho phù hợp với nhu cầu thực tiễn.</span></div>
                <div class="mt-4 about"><span style="font-size:15px;">Giúp quản lý hệ thống của quán trở nên tối ưu hơn, công tác quản lý dễ dàng và tiện lợi hơn.</span></div>
                <div class="mt-4 about">
                    <span>
                        Phần mềm MicroSoft Visual Studio 2019 – sử dụng nền tảng Entity Frame Work và phương thức linQ, xây dựng giao diện cho phần mềm… <br />
                    </span>

                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom:30px;">
        <div class="row" style="margin-top:40px">
            <div class="col-md-6">
                <h2 class="text-muted">XÂY DỰNG WEBSITE BÁN GIÀY – DÉP, QUẦN ÁO SNEAKER HEAD</h2>
                <div class="mt-4 about"><span style="font-size:15px;">Website hỗ trợ trong việc quản lý các nghiệp vụ như bán hàng, thống kê, quản lý sản phẩm … v.v. Website kinh doanh - quản lý bán hàng giúp cho người quản lý cũng như khách hàng tiết kiệm được thời gian, nhanh chống, thao tác đơn giản dễ dàng sử dụng và quản lý.</span></div>
                <div class="mt-4 about"><span style="font-size:15px;"></span></div>
                <div class="mt-4 about"><span style="font-size:15px;">Website hỗ trợ trong việc quản lý các nghiệp vụ như bán hàng, thống kê, quản lý sản phẩm … v.v. Website kinh doanh - quản lý bán hàng giúp cho người quản lý cũng như khách hàng tiết kiệm được thời gian, nhanh chống, thao tác đơn giản dễ dàng sử dụng và quản lý.</span></div>
                <div class="mt-4 about">
                    <span>
                        Công cụ lập trình: Spring Tool Suite 4, Elipse. <br />
                    </span>
                    <span>
                        Ngôn ngữ lập trình: Java.
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <img src="~/Content/images/KFC/Project1.png" width="100%;" height="300px;" />
            </div>
        </div>
    </div>
</section>


<style>
    i {
        font-size: 40px;
        color: black;
    }

        i:hover {
            color: #e25111;
        }
</style>
