@using ChickenGang_Project.Models;
@model IEnumerable<SanPham>



@{ ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml"; }
@{ IEnumerable<SanPham> lst1nguoi = (IEnumerable<SanPham>)ViewBag.lst1nguoi;
    IEnumerable<SanPham> lstnhom = (IEnumerable<SanPham>)ViewBag.lstnhom;
    IEnumerable<SanPham> lstle = (IEnumerable<SanPham>)ViewBag.lstle;
    IEnumerable<SanPham> lstall = (IEnumerable<SanPham>)ViewBag.lstall;
    IEnumerable<SanPham> listHotPick = (IEnumerable<SanPham>)ViewBag.listHot;

    }


<div class="resp-tabs-container">
    <div class="container product">
        @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstall)
    </div>

</div>

<div class="resp-tabs-container">
    <div class="container product">
        @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lst1nguoi)
    </div>

</div>

<div class="resp-tabs-container">
    <div class="container product">
        @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstnhom)
    </div>

</div>

<div class="resp-tabs-container">
    <div class="container product">
        @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstle)
    </div>

</div>






